<div class="footerInvoice">
    {% for owner in owners %} {% for about in abouts %}
    <ul>
        <li class="footerInvoice">
            <a>{{owner.firstname}} {{owner.lastname}}</a>
        </li>
        <li class="footerInvoice">
            <a>{{about.subtitle}}</a>
        </li>
        <li class="footerInvoice">
            <a>{{owner.email}}</a>
        </li>
        <li class="footerInvoice">
            <a>N° de SIRET : {{owner.siretnumber}}</a>
        </li>
    </ul>
    {% endfor %} {% endfor %}
</div>